{% extends "base.html" %}

{% block title %}About - Steve Berardi{% endblock %}

{% block content %}
<br/>
<div class="row">
  <div class="col-lg-8">

  
    <p>Hi 👋 I'm Steve Berardi, a software engineer that lives in a suburb of San Diego, California. This is my personal website where I showcase some of my side-projects.</p>
    
    <p>I've had many passions in life, and when I get really passionate about something I usually start some kind of <a href="/projects/">project</a> around it. For a long time my biggest passion was <a href="/photos/">nature photography</a>, but in the last few years I've been more into astronomy (and especially creating maps of the sky).</p>

  </div>
  <div class="col-lg-4">
    <img class="img-fluid img-bio rounded-circle" src="../images/steveb.jpg" alt="Steve Berardi">
  </div>
</div>
{% endblock %}
