{% extends "base.html" %}

{% block title %}About - Steve Berardi{% endblock %}

{% block content %}
<br/>
<div class="row">
  <div class="col-lg-8">

    <p>I've been fascinated by nature since I was a kid, but I didn't discover my passion for photography until 2007, when I drove cross-country from Chicago to Los Angeles. On that drive, I fell in love with the desert landscape and took a ton of photos, but was disappointed with the results of my simple point-and-shoot camera. So, I bought a digital SLR and learned how to use it.</p>

    <p>Since then, I've learned that the camera isn't really that important. You can take great photos with <em>any</em> camera. What's really important is how you <em>use</em> the camera to capture your unique perspective of the world.</p>

    <p>What I like to capture most in my images is contrast. Not just contrast of colors, but also contrast of emotion. I especially enjoy photographing the deserts of California, and I love to create images that show how harsh and monotone the desert can be, as well as images that show how joyful and colorful it can be. It follows one of my biggest philosophies in life: that everything can be interpreted as either good or bad—the choice is up to you.</p>

    <p>I also really enjoy writing about photography on my blog, <a href="http://photonaturalist.com">PhotoNaturalist</a>, and have written a few <a href="../books/">books</a> too. I find it very rewarding to teach others what I've learned about photography.</p>

    <p>My photos have been published in magazines (Nature Photographer, PhotoYou), on book covers, and in numerous guidebooks. I've also shared my photos with organizations like the Sierra Club and the National Wildlife Federation.</p>

  </div>
  <div class="col-lg-4">
    <img class="img-fluid img-bio" src="../images/steveb.jpg" alt="Steve Berardi Photographer">
  </div>
</div>
{% endblock %}
