{% extends "base.html" %}

{% block title %}Projects - Steve Berardi{% endblock %}

{% block content %}
<hr><br/>

<!-- Sky Atlas -->
<div class="row">
  <div class="col-md-2 text-center">
    <a href="https://skyatlas.app/"><img class="img-fluid project-logo" src="/images/skyatlas-blue.png" alt="Sky Atlas - Maps and charts of the night sky"></a>
    <br/><br/>
  </div>
  <div class="col-md-8">
    <a href="https://skyatlas.app/"><h2>Sky Atlas</h2></a>
    <p>Sky Atlas is an interactive map of the night sky — showing millions of stars, thousands of deep sky objects (DSOs), and more!</p>
  </div>
</div>

<hr>

<!-- Starplot -->
<div class="row">
  <div class="col-md-2 text-center">
    <a href="https://starplot.dev/"><img class="img-fluid project-logo" src="/images/starplot.svg" alt="Starplot - Star charts and maps in Python"></a>
    <br/><br/>
  </div>
  <div class="col-md-8">
    <a href="https://starplot.dev/"><h2>Starplot</h2></a>
    <p>Star charts and maps in Python.</p>
  </div>
</div>

<hr>

<!-- WordBrew -->
<div class="row">
  <div class="col-md-2 text-center">
    <a href="https://wordbrew.io/"><img class="img-fluid project-logo" src="/images/wordbrew.png" alt="WordBrew - Steve Berardi"></a>
    <br/><br/>
  </div>
  <div class="col-md-8">
    <a href="https://wordbrew.io/"><h2>WordBrew</h2></a>
    <p>WordBrew is a tool for exploring words and their related words. It's similar to a thesaurus, but also much more. It's powered by the wonderful WordNet database.</p>
  </div>
</div>

<hr>

<!-- PhotoNaturalist -->
<div class="row">
  <div class="col-md-2 text-center">
    <a href="https://photonaturalist.com/"><img class="img-fluid project-logo" src="/images/photonaturalist.png" alt="PhotoNaturalist - Steve Berardi"></a>
    <br/><br/>
  </div>
  <div class="col-md-8">
    <a href="https://photonaturalist.com/"><h2>PhotoNaturalist</h2></a>
    <p>PhotoNaturalist was a blog on nature photography that I maintained from 2009-2019. Every week I published a new article about how to improve your nature photos.</p>
  </div>
</div>

<br/>
{% endblock %}
