{% extends "base.html" %}

{% block title %}Projects - Steve Berardi{% endblock %}

{% block content %}
<hr><br/>
<!-- PhotoNaturalist -->
<div class="row">
  <div class="col-md-2">
    <a href="https://photonaturalist.com/"><img class="img-fluid" src="../images/photonaturalist.png" alt="PhotoNaturalist - Steve Berardi"></a>
    <br/><br/>
  </div>
  <div class="col-md-9">
    <a href="https://photonaturalist.com/"><h4>PhotoNaturalist — Nature Photography Tips and Tutorials</h4></a>
    <p>PhotoNaturalist is a blog on nature photography that I started in 2009. Every week or so, I publish a new article about how to improve your nature photos. I cover all types of nature photography: landscapes, close-up, and wildlife. I also send out a weekly email newsletter with links to other great photography articles I come across.</p>
  </div>
</div>

<br/>
{% endblock %}
