{% extends "base.html" %}

{% block title %}Books - Steve Berardi{% endblock %}

{% block content %}

<hr><br/>
<!-- Nature Photography : Understanding the Camera -->
<div class="row">
  <div class="col-md-3">
    <a href="https://photonaturalist.com/new-ebook-nature-photography-understanding-the-camera/"><img class="img-fluid" src="../images/nature_photography_camera.jpg" alt="Nature Photography by Steve Berardi"></a>
    <br/><br/>
  </div>
  <div class="col-md-8">
    <a href="https://photonaturalist.com/new-ebook-nature-photography-understanding-the-camera/"><h2>Nature Photography: Understanding the Camera</h2></a>
    <p>This eBook will teach you how to use your camera to photograph the wonderful moments you observe in nature. It covers all types of nature photography, including landscapes, wildlife, and close-ups.</p>
  </div>
</div>

<hr><br/>

<!-- Wildflower Photography -->
<div class="row">
  <div class="col-md-3">
    <a href="https://photonaturalist.com/new-ebook-on-wildflower-photography/"><img class="img-fluid" src="../images/wildflower.jpg" alt="Wildflower Photography by Steve Berardi"></a>
    <br/><br/>
  </div>
  <div class="col-md-8">
    <a href="https://photonaturalist.com/new-ebook-on-wildflower-photography/"><h2>Wildflower Photography</h2></a>
    <p>This eBook is a complete guide to photographing wildflowers and how to post-process your images in Adobe Photoshop (CS and Elements 8). Topics covered include: equipment you’ll need, how to setup your shot, how to choose the right aperture, how to find the perfect exposure by using histograms, and the secret to getting perfect light.</p>
  </div>
</div>

<hr><br/>

<!-- 53 Tips -->
<div class="row">
  <div class="col-md-3">
    <a href="https://photonaturalist.com/new-ebook-53-tips-nature-photography/"><img class="img-fluid" src="../images/53tips.jpg" alt="53 Tips For Nature Photography by Steve Berardi"></a>
    <br/><br/>
  </div>
  <div class="col-md-8">
    <a href="https://photonaturalist.com/new-ebook-53-tips-nature-photography/"><h2>53 Tips For Nature Photography</h2></a>
    <p>This 108-page book contains 53 of the most popular posts on my blog: PhotoNaturalist. The tips cover all types of nature photography, including landscapes, wildflife, and close-ups.</p>
  </div>
</div>

<hr><br/>

<!-- Examples -->
<div class="row">
  <div class="col-md-3">
    <a href="https://photonaturalist.com/learn-by-example-in-my-new-ebook/"><img class="img-fluid" src="../images/examples.jpg" alt="Examples by Steve Berardi"></a>
    <br/><br/>
  </div>
  <div class="col-md-8">
    <a href="https://photonaturalist.com/learn-by-example-in-my-new-ebook/"><h2>Examples: 23 Images</h2></a>
    <p>This 30-page book contains 23 of my photographs, along with the stories of how those images were made. The idea was inspired by my strong belief that the best way to learn something is by example. As Albert Einstein put it, "Learning by example isn’t the best way to learn. It's the only way to learn."</p>
  </div>
</div>

<br/>
{% endblock %}
